<div class="container">
  <div class="row">
    <div class='col' style="float:left; width:50%;">
      <h1>Create Event</h1>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <form class="form" name="poolForm" ng-model="poolForm" ng-submit="register()">
        <h2>Affiliated Teams</h2>
        <b>Which teams are affiliated with this event?</b>
        <br>
        <span>
          <span class="form-group" ng-repeat="team in teams">
            <label>
              <input type="checkbox" name="selectedTeams[$index]" ng-model="poolForm.selectedTeams[$index]" ng-init="true" value="{{team.name}}" ng-checked="teamSelection.indexOf(team.name) > -1" ng-click="toggleSelection(team)">
              {{team.name}}
            </label>
          </span>
        </span>
        <br>
        <ul ng-show="teamSelection.length > 0">
          <li ng-repeat="teamName in teamSelection"> Members of team <b>{{teamName}}</b> will be able to join this event!</li>
        </ul>
        <span ng-show="teamSelection.length ==0 && teams.length >0 "> <b> NOBODY will be able to join this event! Select at least one team.</b> </span>
        <div class="errorBorder" ng-show="teams.length == 0 "> <div class="padded"><b> You are not a member of any teams, so you cannot make events! <br>Please <a href='#!/joinTeam'>join a team.</a></b> or <a href='#!/makeTeam'>create a new team.</a></b></div></div>
        <h2>Event Information</h2>
        <!-- NAME -->
        <div class="form-group">
          <label>Event Name</label>
          <input type="text" class="form-control" name="name" ng-model="poolForm.ngName" required>
          <span class="invalid" ng-show="poolForm.name.$error.required">
          Required!</span>
        </div>
        <!-- CONTACT EMAIL -->
        <div class="form-group">
          <label for="eventEmail">Event Email </label>
          <br>
          <input type="email" style="width:70%; display:inline;" class="form-control" name="email" id="eventEmail" placeholder="email@domain.ext" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  ng-model="poolForm.ngEmail" ng-init="setEmail();" ng-disabled="!presetting" required> <
          <!-- EMAIL AUTOFILLERS -->
          <div class="btn-group-vertical btn-group-xs inline">
            <button type="button" class='btn btn-default' style="border-top-left-radius:8px; border-top-right-radius:8px;{{(teamSelection.length == 0) ? 'border-bottom-left-radius:8px; border-bottom-right-radius:8px;' : ''}}" ng-click="presetting=true; poolForm.ngEmail=self.email; presetting=false;">your email</button>
            <button class='btn btn-default' type="button" ng-click="poolForm.ngEmail=team.email;" ng-repeat="team in teams" style="{{$last ? 'border-bottom-left-radius:8px; border-bottom-right-radius:8px;' : ''}}" ng-show="poolForm.selectedTeams[$index]">{{team.name| limitTo : 12 }}{{team.name.length>12 ? '..' : ''}}'s email</button>
            <!-- {{team.name| limitTo : 7 }}{{team.name.length>7 ? '..' : ''}}'s email: {{team.email | limitTo : 7}}{{team.email.length>7 ? '..' : ''}} -->
          </div>
          <br>
          This can be your email address, or the email address of any of your teams!
          <br>
          <a href='#!/makeTeam'>(Create a new team)</a>
          <br>
          <span class="invalid" ng-show="poolForm.email.$error.required">
          Required!</span>
          <span class="invalid" ng-show="poolForm.email.$error.email">Valid Email Required!</span>
          <br>
          <span class="invalid" ng-show="poolForm.email.$error.pattern">Email should match &ltemail &gt@&ltdomain&gt.&ltext&gt</span>
        </div>
        <!-- ADDRESS -->
        <div class="form-group">
          <label>Event Address</label>
          <input type="text" class="form-control" name="address" ng-model="poolForm.ngAddress" ng-change="address_confirmed=false;" required>
        </div>
        <span class="invalid" ng-show="poolForm.address.$error.required">
        Required!</span>
        <div>
          <button ng-click='confirmAddress()' class="btn btn-default" ng-disabled="!poolForm.ngAddress || disabled || address_confirmed"><span ng-if="!address_confirmed">Confirm Address</span> <span ng-if="address_confirmed">Address Confirmed (edit if necessary)</span></button>
          <span ng-show="!address_confirmed"> <b>You must confirm address before proceeding.</b></span>
        </div>
        <!-- DATE -->
        <div class="form-group">
          <label>Event Date</label>
          <input type="date"
          ng-model="initial.ngDate"
          class='form-control'
          name='date'
          ng-init="initial.ngDate=minDate;"
          min="{{minNumberDays | relativedate}}"
          max="{{365 | relativedate}}"
          ng-required="!poolForm.date.$pristine">
          <!-- value="{{minDate | date: 'yyyy-MM-dd'}}" -->
          <!--             <span class="error" ng-show="poolForm.date.$error">
          Not a valid date!</span> -->
          <span class="invalid" ng-show="poolForm.date.$error.max">
          <b>Date cannot be more than 1 year hence!</b></span>
          <span class="invalid" ng-show="poolForm.date.$error.min">
          <b>Date must be at least {{minNumberDays}} in the future!</b></span>
          <span class="invalid" ng-show="poolForm.date.$error.required">
          <b>Must enter a date!</b></span>
          <span class="invalid" ng-show="poolForm.date.$error.date">
          <b>Must be a valid date!</b></span>
        </div>
        <!-- TIME -->
        <div class="form-group">
          <label>Event Time</label>
          <input type="time"
          ng-model="initial.ngTime"
          name="poolForm.time"
          placeholder="HH:mm:ss"
          value="14:30:00"
          required="true">
        </div>
        <!-- FIRE NOTICE -->
        <div class="form-group">
          <label>Notice for Email (number of hours before event that instructions will be sent out)</label>
          <br>
          <span>Instructions will be sent out
            <select ng-model="poolForm.ngFireNotice" name="fireNotice" ng-init="poolForm.ngFireNotice=6;" convert-to-number>
              <option value="6">6 hours</option>
              <option value="12">12 hours</option>
              <option value="18">18 hours</option>
            </select>
          hours before your event.</span>
        </div>
        <!-- LatenessWindow -->
        <div class="form-group">
          <label>Participants can arrive a bit late...</label>
          <br>
          <span>
            <span ng-show="poolForm.ngLatenessWindow>0"> Participants **who are not organizers** can arrive </span>
            <span ng-show="poolForm.ngLatenessWindow==0"> Neither participants nor organizers can arrive late. </span>
            <br>
            <select ng-model="poolForm.ngLatenessWindow" name="latenessWindow" ng-init="poolForm.ngLatenessWindow=30;" convert-to-number>
              <option value="60">1 hour</option>
              <option value="45">45 minutes</option>
              <option value="30">30 minutes</option>
              <option value="15">15 minutes</option>
              <option value="0">Nobody can arrive late</option>
            </select>
            <span ng-show="poolForm.ngLatenessWindow>0">
            minutes after the event (which starts at {{initial.ngTime | date:'hh:mma'}}).</span>
            <span ng-show="poolForm.ngLatenessWindow==0">
            before the event at {{initial.ngTime | date:'hh:mma'}}.</span>
          </span>
        </div>
        <!-- SIGNATURE -->
        <!-- BUTTON -->
        <!-- BUTTON -->
        <div>
          <button type="submit" class="btn btn-primary" ng-disabled="poolForm.$invalid || disabled || !address_confirmed || teamSelection.length ==0">Create Event</button>
        </div>
        <span ng-show="poolForm.$invalid || !address_confirmed || teamSelection.length ==0"> <b>This registration form is not complete! Ensure you have confirmed the address and affiliated at least one team.</b></span>
      </form>
      </div><!-- COLUMN -->
      <div class='col' style="float:right; width:50%;">
        <h2>Information</h2>
        <div ng-show="resultText" >{{resultText}} </div>
        <h3> Summary </h3>
        <ul>
          <li>
            <b>Your event will be held at:</b> {{poolForm.ngAddress}}
            <div ng-if="image_url">
              <img ng-src="{{image_url}}" alt="Confirmed Address" style="width:400px;height:400px;">
            </div>
          </li>
          <li>
            <b>Your event will be called:</b> '{{poolForm.ngName}}'
          </li>
          <div ng-if="initial.ngDate && initial.ngTime">
            <li>
              <b>Your event will take place on: </b>
              {{initial.ngDate | date:'mediumDate'}} at
              {{initial.ngTime | date:'hh:mma'}}.
            </li>
            <li>
              <b>Instructions will be sent out on:</b>
              {{(-1)*poolForm.ngFireNotice  | relativeFromDate : initial.ngDate:initial.ngTime}}
              <b>at</b>
              {{(-1)*poolForm.ngFireNotice  | relativeFromTime : initial.ngTime}}
            </li>
          </div>
          <li>
            <b>Contact email for your event is: </b>{{poolForm.ngEmail}}
          </li>
          <li>
            <span ng-show="poolForm.ngLatenessWindow>0"> <b>Participants **who are not organizers** can arrive</b> {{poolForm.ngLatenessWindow}} <b> minutes after the event</b>, which starts at {{initial.ngTime | date:'hh:mma'}}.</span>
            <span ng-show="poolForm.ngLatenessWindow==0"> <b>Neither participants nor organizers can arrive late</b>. Everyone must arrive at {{initial.ngTime | date:'hh:mma'}}. </span>
          </li>
        </ul>
        </div><!-- COLUMN -->
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
