<div class="col-md-4">
  <h1>Register</h1>
  <div ng-show="error" class="alert alert-danger">
    Something went wrong with registration. It's possible that this email address is already in use.
    <br>
    <br>
    Try <a href='/#!/login'>logging in</a>, or <a href='/#!/forgotPassword'>password recovery</a>.
    <br>
    <br>
    If you've used a 1-click link, please <a href='/#!/login'>log in</a> and click the link again to automatically join a team or event.
    <br>
    {{errorMessage}}
  </div>
  <form class="form"  ng-model="registerFormValues" name="registerForm" ng-submit="register()">
    <!-- First Name -->
    <div class="form-group">
      <label>First Name</label>
      <input type="text" class="form-control" name="first" ng-model="registerFormValues.ngFirst" placeholder="First Name, 1-25 characters" ng-minlength="1" ng-maxlength="25" required>
      <span class="invalid" ng-show="registerForm.first.$error.minlength || registerForm.first.$error.maxlength">First Name must be between 1 and 25 characters
      </span>
    </div>
    <!-- Last Name -->
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" class="form-control" name="last" ng-model="registerFormValues.ngLast" placeholder="Last Name, 1-25 characters" ng-minlength="1" ng-maxlength="25" required>
      <span class="invalid" ng-show="registerForm.last.$error.minlength || registerForm.last.$error.maxlength">Last Name must be between 1 and 25 characters
      </span>
    </div>
    <!-- EMAIL -->
    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" placeholder="email@domain.ext" ng-pattern="/^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$/"  ng-model="registerFormValues.ngEmail" required>
      <span class="invalid" ng-show="registerForm.email.$error.required">
      Required!</span>
      <span class="invalid" ng-show="registerForm.email.$error.email">Valid Email Required!</span>
      <br>
      <span class="invalid" ng-show="registerForm.email.$error.pattern">Email should match '&ltemail &gt@&ltdomain&gt.&ltext&gt'</span>
    </div>
    <!-- PASSWORD  -->
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" name="password" ng-model="registerFormValues.ngPassword" ng-minlength="4" ng-maxlength="25" placeholder="Password 4-25 characters" required>
      <span class="invalid" ng-show="registerForm.password.$error.minlength || registerForm.password.$error.maxlength"><b>Password must be between 4 and 25 characters</b>
      </span>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password"  class="form-control" name="confirm_password" placeholder="matching password" ng-model="registerFormValues.ngConfirm_password" ng-minlength="4" ng-maxlength="25" required>
      <span class="invalid" ng-show="registerFormValues.ngConfirm_password != registerFormValues.ngPassword"><b>PASSWORDS MUST MATCH</b>
      </span>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
        <input type="checkbox" ng-model="registerFormValues.ngAccept_tos" name="accept_tos" required>Accept Terms of Service (currently undefined)</label>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary" ng-disabled="disabled || registerForm.$invalid || registerFormValues.ngConfirm_password != registerFormValues.ngPassword">Register</button>
    </div>
  </form>
</div>
