{% if first_name %}
Hello, {{first_name}},
{% else %}
Hello, {{email}},
{% endif %}
<br>
<br>
You've been invited to join <a href="http://grouptherenow.com">GroupThere</a> through an <a href='{{link}}'>expedited link</a>!
<br>
<br>
{% if team is not none%}
By using the above link, you will gain instant access to the team <b>{{team.name}}</b>.
<br>
<br>
Anyone can join {{team.name}} using the codeword <b>{{team.password}}</b>.
<br>
<br>
{% endif %}
{% if pool is not none%}
By using the above link, you will also be directed to the event <b>{{pool.poolName}}</b>.
<br>
<br>
Here is some information about {{pool.poolName}}:
<br>
<ul>
<li><b>WHEN</b> {{pool.eventDate}} at {{pool.eventTime}}</li>
<li><b>WHERE</b> {{pool.eventAddress}}</li>
<li><b>CONTACT</b> {{pool.eventEmail}}</li>
</ul>
<br>
Anyone who is part of {{team.name}} can join <b>{{pool.poolName}}</b>.
{% endif %}
<br>
<br>
Thank you,
<br>
GroupThere
