Hey, team administrator,
<br>
<br>
{{carpooler.name}} just left {{team.name}}. They can be reached at {{carpooler.email}}.
<br>
<br>
At this moment, {{team.members | length}} people are part of this team; there are {{team.pools | length}} events associated with this team to-date.
<br>
<br>
To invite more folks to join this team, send them <a href="{{link}}">here</a>. If you give them the codeword "{{team.password}}", they will be able to join immediately; otherwise, you will have to approve their request to join.
<br>
<br>
Please <a href="{{link}}">visit GroupThere</a> to look over your teams.
<br>
<br>
Best wishes,
<br>
GroupThere
