<!-- access poolId with $routeParams.poolId
Make sure $scope, $route, $routeParams are injected in controller -->
<div class="container">
    <div class="row">
        <div class='col' style="float:left; width:50%;">
            <h1>Join a team!</h1>
            <form role='form' name="joinForm" ng-model="joinForm" ng-submit="join()">



              <select ng-model="joinForm.ngTeam" name="team" class="form-control">
                  <option ng-repeat="foreignTeam in foreignTeams"  value="{{foreignTeam}}">{{foreignTeam}}</option>
              </select>


<!-- PASSWORD -->
              <div class="form-group">
                <label>Team CODE WORD</label>
                <span>This is something to distribute to your entire team.</span>
                <input type="text" class="form-control" name="codeword" placeholder='easy-to-remember code word' ng-model="joinForm.ngCodeword" required>
                <span class="error" ng-show="joinForm.codeword.$error.required">
                Required!</span>
                </div>

              <button type="submit" ng-click="" ng-init="" class="btn btn-default" ng-disabled="joinForm.$invalid || disabled">Join Pool</button>

            </form>






        </div><!-- Column -->




        <div class='col' style="float:right; width:50%">
          <h1>OUTPUT</h1>
              <!-- RESULT TEXT -->
              <div ng-if="resultText">
                  {{resultText}}
              </div>
        </div> <!-- COLUMN -->
    </div>
</div>


<!-- TODO: -->
<!-- Put form and submit button that simply sets $scope.pool_id and calls $scope.getPoolInfo(). viewPool will be updated automatically by binding -->
<!-- Put button linking to this view on other pages -->
