<div class="container">
  <div class="row">
    <div class='col' style="float:left; width:50%;">

      <h1>Register</h1>
      <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
      <form class="form" name="teamForm" ng-model="teamForm" ng-submit="register()">


<!-- NAME -->
        <div class="form-group">
          <label>Team Name</label>
          <input type="text" class="form-control" name="name" ng-model="teamForm.ngName" required>
         <span class="error" ng-show="teamForm.name.$error.required">
          Required!</span>
          </div>

<!-- CONTACT EMAIL -->
        <div class="form-group">
          <label>Team Email</label>
          <input type="email" class="form-control" name="email" placeholder="email@domain.ext" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"  ng-model="teamForm.ngEmail" required>

          <span class="error" ng-show="teamForm.email.$error.required">
          Required!</span>
          <span class="error" ng-show="teamForm.email.$error.email">Valid Email Required!</span>
          <br>
          <span class="error" ng-show="teamForm.email.$error.pattern">Email should match &ltemail &gt@&ltdomain&gt.&ltext&gt</span>
        </div>
        <div>
          <button type="submit" class="btn btn-default" ng-disabled="teamForm.$invalid || disabled">Register</button>
        </div>
      </form>
    </div><!-- COLUMN -->

    <div class='col' style="float:right; width:50%;">
    <h2>Information</h2>

      <div ng-show="resultText" >{{resultText}} </div>

      <h3> Summary </h3>
        <ul>
          <li>
            <b>Your Team will be called:</b> '{{teamForm.ngName}}'
          </li>
          <li>
            <b>Contact email for your Team is: </b>{{teamForm.ngEmail}}
          </li>
        </ul>


    </div><!-- COLUMN -->
  </div>
</div>


