<!-- access poolId with $routeParams.poolId
Make sure $scope, $route, $routeParams are injected in controller -->
<div class="container">
    <div class="row">
        <div class='col' style="float:left; width:50%;">
            <h1>Find (your) carpools</h1>
            <form role="form" ng-submit="getPoolInfo()">
                        Pool ID: <input type="number" name="pool_id" class="form-control" id="pool_id-box" ng-init="pool_id=1"placeholder="Enter a pool id number" style="max-width: 300px;" ng-model="pool_id" required>
                    <button type="submit" ng-click="" ng-init="" class="btn btn-default">Query regarding pool</button>
            </form>

            <h2>Your Carpools </h1>
            <div ng-if="resultText">
                {{resultText}}
            </div>

            <div ng-if="pool_id_message">
                {{pool_id_message}}
            </div>


        </div><!-- Column -->




        <div class='col' style="float:right; width:50%">
            <div ng-if="viewPool">
                <div ng-show="viewPool">
                    <h2>Queried Pool:</h2>
                    <div ng-if="!isString(viewPool)">
                        <ul>
                            <li ng-repeat="(kw,value) in viewPool">

                                <span ng-if="!hasChildren(value)">
                                    {{kw}} : {{value}}
                                </span>
                                <span ng-if="hasChildren(value)">
                                    {%raw%} {{kw}} {% endraw %} - every carpooler traveling here:
                                    <ol>
                                        <li ng-repeat="trip in value">
                                            <ul>
                                                <li ng-repeat="(tripKey,tripVal) in trip">
                                                   {{tripKey}} : {{tripVal}}
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div ng-if="isString(viewPool)">
                        {{ viewPool }}
                    </div>
                    <br>
                </div>
            </div>
            <div ng-if="!viewPool">
            <h1>NO QUERY RESPONSE YET!</h1>
            </div>
        </div> <!-- COLUMN -->
    </div>
</div>


<!-- TODO: -->
<!-- Put form and submit button that simply sets $scope.pool_id and calls $scope.getPoolInfo(). viewPool will be updated automatically by binding -->
<!-- Put button linking to this view on other pages -->
