<!DOCTYPE html>
<html ng-app="TriggerPane">
    <head>
        <title>Triggers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style>
            .container {
                max-width: 1000px;
            }
            #c1, #c2, #c3{
                display:inline-block;
                width: 25%;
                height:20;
            }
        </style>
    </head>
    <body ng-controller="TriggerController">
        <div class="container">
            <div class="row">
                <div class='col' style="float:left; width:50%;">
                    <h1> <u>Actions</u> </h1>


                    <h2>Angular Enqueue (Get)</h2>
                        <br>
                        <form role="form" ng-submit="getResult()">
                                Number of Generic Participants: <input type="number" name="n" class="form-control" id="n-box" ng-init="n=10"placeholder="Enter a number" style="max-width: 300px;" ng-model="n" required>
                                Number Pools per Person (or max): <input type="number" name="numberPools" class="form-control" id="numberPools-box" ng-init="numberPools=4" placeholder="Enter a number" style="max-width: 300px;" ng-model="numberPools" required>
                            <button type="submit" ng-click="randGen=false" ng-init="randGen=false" class="btn btn-default">Submit</button>
                            <button type="submit" ng-click="randGen=true" ng-init="randGen=false" class="btn btn-default">Submit RANDOM PARAMS</button>
                        </form>
                    <h2>Drop and Recreate Tables </h2>
                        <div>
                            <div id="c1">
                            <form action='/triggers/' method='get' target='_self'>
                                <button type="submit" name ='submit' value='drop_tabs' onclick="alert('Dropping all tabs!')">Drop Tabs GET</button>
                            </form>
                            </div>
                            <div id="c2">
                            <form action='/triggers/' method='post' target='_self'>
                                <button type="submit" name ='submit' value='drop_tabs' onclick="alert('Dropping all tabs!')">Drop Tabs POST</button>
                            </form>
                            </div>
                            <div id="c3">
                            <form role="form" ng-click="clearScope()" ng-submit="dropTabs()">
                                <button type="submit">Drop Tabs ANGULAR</button>
                            </form>
                            </div>
                        </div>
                    <h2>View Pool</h2>
                        <br>
                        <form role="form" ng-submit="getPoolInfo()">
                                Pool ID: <input type="number" name="pool_id" class="form-control" id="pool_id-box" ng-init="pool_id=1"placeholder="Enter a number" style="max-width: 300px;" ng-model="pool_id" required>
                            <button type="submit" ng-click="clearScope()" ng-init="" class="btn btn-default">Query regarding pool</button>
                        </form>

                    <h2>Do GroupThere </h2>
                    <br>
                        <form role="form" ng-click="clearScope()" ng-submit="doGroupThere()">

                             Pool ID: <input type="number" name="pool_id" class="form-control" id="pool_id-box_for_GT" ng-init="pool_id=1" placeholder="Enter a Carpool ID number" style="max-width: 300px;" ng-model="pool_id" required>
                            <button type="submit">Do GroupThere</button>
                        </form>
                        <form role="form" ng-click="clearScope()" ng-submit="repeatGroupThere()">
                            <button type="submit">REPEAT GroupThere (same params, no API queries)</button>
                        </form>
<!--                     <h2>Generic Auto-Populate</h2>
                        <h2>POST</h2>
                            <br>
                            <form action="/triggers/" method="post" target="_self">
                                Number of Generic Participants: <input type="number" name="n" value=5><br>
                                <input type="submit" value="Submit POST">
                            </form>
                        <h3>GET</h3>
                            <br>
                            <form action="/triggers/" method="get" target="_self">
                                Number of Generic Participants: <input type="number" name="n" value=5><br>
                                <input type="submit" value="Submit GET">
                            </form>
                        <h3>Enqueue (Get)</h3>
                            <br>
                            <form action="/q_populate/" method="get" target="_blank">
                                Number of Generic Participants: <input type="number" name="n" value=5><br>
                                <input type="submit" value="Submit GET">
                            </form> -->


                </div><!-- Column -->
                <div class='col' style="float:right; width:50%;">
                    <h1><u>OUTPUTS</u></h1>
                    <div ng-show="resultText">
                        <h1> Raw Result Text</h1>
                        {% raw %}
                        {{resultText}}
                        {% endraw %}
                    </div>


                    <div ng-if="viewPool">
                        <div ng-show="viewPool">
                            <h2>Queried Pool:</h2>
                            <div ng-if="!isString(viewPool)">
                                <ul>
                                    <li ng-repeat="(kw,value) in viewPool">

                                        <span ng-if="!hasChildren(value)">
                                            {% raw %}
                                            {{kw}} : {{value}}
                                            {% endraw %}
                                        </span>
                                        <span ng-if="hasChildren(value)">
                                            {%raw%} {{kw}} {% endraw %} - every carpooler traveling here:
                                            <ol>
                                                <li ng-repeat="trip in value">
                                                    <ul>
                                                        <li ng-repeat="(tripKey,tripVal) in trip">
                                                           {% raw %}
                                                           {{tripKey}} : {{tripVal}}
                                                           {% endraw %}
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ol>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="isString(viewPool)">
                                {% raw %}
                                {{viewPool}}
                                {% endraw %}
                            </div>
                            <br>
                        </div>
                    </div>
                    <div ng-if="GT_JSON">
                        <div ng-show="GT_JSON" ng-if="!isString(GT_JSON)">
                            <br>
                                <h2>GroupThere Output (iterated in angular):</h2>
                                {% raw %}
                                There are {{GT_JSON.length}} carpools!
                                <ol>
                                    <li ng-repeat="group in GT_JSON">

                                        <div ng-if="!isString(group[0][1])">
                                            {{group[0][1][0]}} picks up <span ng-repeat="person in (group[0][1]).slice(1,(group[0][1]).length)"> {{person}}, then </span> they drive to the event.
                                        </div>
                                        <div ng-if="isString(group[0][1])">
                                        {{group[0][1]}} drives alone.
                                        </div>

                                        <ul>
                                            <li ng-repeat="tup in group.slice(1, group.length)">
                                                {{tup[0]}} : {{tup[1]}}
                                            </li>
                                        </ul>
                                    </li>
                                </ol>
                                {% endraw %}
                        </div>
                    </div>
                    <div ng-if='resultJSON'>
                        <div ng-show="resultJSON">
                            <br>
                                <h2>Creation Output (iterated in angular):</h2>
                                {% raw %}
                                <ol>
                                    <li ng-repeat="(name,value) in resultJSON as results">
                                        Person: {{name}}
                                        <ul>
                                            <!-- <li>Full Description: {{value}}</li> -->
                                            <li> Carpooler info: {{value.Carpooler}}   </li>
                                            <li> Pool info: {{value.Pool}}   </li>
                                            <li> Trip info: {{value.Trip}}   </li>
                                        </ul>
                                    </li>
                                </ol>
                                {% endraw %}
                        </div>
                    </div>
                    <div ng-if='resultJSON'>
                        <div ng-show="resultJSON">
                            <h2>Raw JSON Output:</h2>
                            {% raw %}
                            {{resultJSON}}
                            {% endraw %}
                            <br>
                        </div>
                    </div>
                    <!-- "document.getElementById('outputList').length>0" -->
                    <div ng-if='AngularOutputList'>
                        <div ng-init="haventStarted=true" ng-show="isNotEmpty('AngularOutputList') && haventStarted">
                            <h1>Output Carpoolers (iterated in Jinja)</h1>
                                <ol id="AngularOutputList">
                                {% for output in output_list %}
                                    {% if output is mapping %}
                                        <li>
                                            <ul>
                                                {%for key, val in output.items() %}
                                                    <li> {{key}} : {{val}}</li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                    <li> {{output}} : {{val}}</li>
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            <br>
                        </div>
                    </div>
                    <div ng-show="haventStarted" ng-init="haventStarted=true">
                        <div ng-show="isNotEmpty('request_var_list')">
                            <h1>Request Variables (iterated in Jinja)</h1>
                                <ul id="request_var_list">
                                {% for key, val in request_vars.items() %}
                                    <li> {{key}} : {{val}} </li>
                                {% endfor %}
                                </ul>
                                <br>
                        </div>
                    </div>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
        <br><br>
        <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.4/angular.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>

