<!-- access poolId with $routeParams.poolId
Make sure $scope, $route, $routeParams are injected in controller -->
<!-- toTime: {{toTime(counter)}} -->
<!-- <div class="container"> -->
<div class="row">
    <div class='col' style="float:left; width:50%;">
        <h2>Events Affiliated with Your Teams </h2>
        <div ng-if="pool_id_message">
            {{pool_id_message}}
        </div>
        <!--        <div ng-show="!joinForm.$dirty && eligible_pools.length>1">
            <h3> Please select an event!</h3>
        </div> -->
        <div ng-show="joinFormValues.ngPool >=0">
            <div style="border:1px solid black; padding: 6px; margin: 3px;border-radius: 4px; width: 90%;">
                <h3 style="text-align: center;border-bottom: solid 1px #999;">'{{selectedPool_obj.name}}' <br>
                with <span ng-repeat="team in selectedPool_obj.teams track by $index">{{$first ? '' : ', '}}{{$last && !$first ? 'and ': ''}}{{team.name}}</span></h3>
                <h4>{{selectedPool_obj.address}}</h4>
                <h4 style="border-bottom: solid 1px #999;">{{selectedPool_obj.date }} <span style="font-size:0.8em">at</span> {{selectedPool_obj.time }} <span style="font-size:0.8em">in  {{toDays(selectedPool_obj.seconds_til-counter)}} days, {{toHours(selectedPool_obj.seconds_til-counter)}} hours, {{toMinutes(selectedPool_obj.seconds_til-counter)}} minutes</span></h4>
                <div style="border-bottom: solid 1px #999;">
                    {{(selectedPool_obj.members.length) < 1 ? 'Nobody is attending yet!' : ''}} <span ng-repeat="member in selectedPool_obj.members track by $index">{{$first ? '' : ', '}}{{$last && !$first ? 'and ': ''}}{{member}}</span> {{(selectedPool_obj.members.length > 1) ? ' are attending' : ''}}{{(selectedPool_obj.members.length == 1) ? ' is attending' : ''}}</div>
                    <ul>
                        <li> Non-Organizers can arrive up to {{selectedPool_obj.latenessWindow}} minutes after {{selectedPool_obj.time}}</li>
                        <li> Carpooling instructions will be sent out {{selectedPool_obj.fireNotice}}  hours before the event<span ng-if="selectedPool_obj.noticeWentOut == false">, in {{toDays(selectedPool_obj.seconds_til_instructions-counter)}} days, {{toHours(selectedPool_obj.seconds_til_instructions-counter)}} hours, {{toMinutes(selectedPool_obj.seconds_til_instructions-counter)}} minutes </span> </li>
                    </ul>
                    For more information regarding this event, contact {{selectedPool_obj.email}}.
                </div>
            </div>
            <div style=>
                <form ng-show="eligible_pools" role='form' name="joinForm" ng-model="joinFormValues" ng-submit="goto_join()">
                    <select ng-change="selectedPool_obj=eligible_pools[joinFormValues.ngPool];" ng-model="joinFormValues.ngPool" name="pool" required>
                        <!-- <option ng-repeat="pool in eligible_pools"  ng-model="selectedPool" ng-value="{{$index}}">'{{pool.name}}' - with {{pool.team_names | joinBy:', '}}</option> -->
                        <option  ng-repeat="pool in eligible_pools"  ng-model="selectedPool" ng-value="{{$index}}">'{{pool.name}}' {{pool.date}}</option>
                        <!-- Try: {{team.name.join(', ')}} -->
                    </select>
                    <br>
                    <button type="submit" ng-click="" ng-init="" class="btn btn-primary" ng-disabled="joinForm.$invalid || disabled || (eligible_pools.length < 1)">Join Event!</button>
                </form>
                <div ng-show="eligible_pools.length<1">
                    <br>
                    There are no available events!
                    <br>
                    <a href='#!/makePool'>Create a new event ;) </a>
                </div>
                <span ng-show="eligible_pools.length>0"> <br> <a href='#!/makePool'>Make a new event</a></span>
                <span> <br> <b><a href='#!/joinTeam'>Join a team (and access their events)</a></b> </span>
            </div>
            <div ng-if="resultText">
                <h3> Query Status: </h3>
                {{resultText}}
            </div>
            <div ng-if="errorText" class='alert alert-danger'>
                <h3> Error: </h3>
                {{errorText}}
            </div>
            </div><!-- Column -->
            <div class='col' style="float:right; width:50%">
                <h2> Events You Have Joined </h2>
                <div class="panel-group" id="joined_accordion">
                    <div class="panel panel-default" ng-repeat="pool in joined_pools">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <a data-toggle="collapse" class="collapsed" data-parent="#joined_accordion" href="#collapse{{$index}}" style="font-family: 'Roboto', sans-serif; font-weight: bold; color: black;" onclick="return false;">
                                    <h4>
                                    '{{pool.name}}' with <span ng-repeat="team in pool.teams">{{$first ? '' : ', '}}{{$last && !$first ? 'and ': ''}}{{team.name}}</span>
                                    </h4>
                                    {{pool.date}} at {{pool.time}}
                                    <br> - {{toDays(pool.seconds_til-counter)}} days, {{toHours(pool.seconds_til-counter)}} hours, {{toMinutes(pool.seconds_til-counter)}} minutes -
                                </a>
                            </div>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h4 style="border-bottom: solid 1px #999;">         {{pool.address}}
                                </h4>
                                Non-Organizers can arrive up to {{pool.latenessWindow}} minutes after {{pool.time}}
                                <!--                           <ul>
                                    <li ng-repeat="member in pool.members">{{member}}</li>
                                </ul> -->
                                <br>
                                <div class='thinBorder'>
                                    Your Trip:
                                    <button type="button" class="btn btn-default" ng-click="goto_join($index)" > Edit </button>
                                    <ul>
                                        <li>Origin: {{pool.trip.address}}</li>
                                        <li>Maximum available time for the trip: {{pool.trip.preWindow}} minutes</li>
                                        <li>Number of seats in your vehicle: {{pool.trip.num_seats}} </li>
                                        <li>Have to drive: {{ pool.trip.must_drive | yesNo }} </li>
                                        <li>Have to arrive exactly on time: {{ pool.trip.on_time | yesNo }}</li>
                                    </ul>
                                </div>
                                <br>
                                Members: <span ng-repeat="member in pool.members track by $index">{{$first ? '' : ', '}}{{$last && !$first ? 'and ': ''}}{{member}}</span>
                                <br>
                                Contact: {{pool.email}}
                                <!-- <li> Carpooling instructions will be sent out {{pool.fireNotice}} hours before {{pool.time}} on {{pool.date}}</li> -->
                                <h4 style="border-bottom: solid 1px #999;"></h4>
                                <br>
                                Carpooling instructions will be sent out {{pool.fireNotice}} hours before {{pool.time}} on {{pool.date}}<span ng-if="pool.noticeWentOut == false">, in  {{toDays(pool.seconds_til_instructions-counter)}} days, {{toHours(pool.seconds_til_instructions-counter)}} hours, and {{toMinutes(pool.seconds_til_instructions-counter)}} minutes</span></div>
                                <!-- , {{toSeconds(pool.seconds_til_instructions-counter)}} seconds -->
                                <br>
                                <button type="button" class="btn btn-md btn-info" ng-disabled="disabled" ng-click="getPoolInstructions($index,false)" >My itinerary</button>
                                <button type="button" class="btn btn-md btn-info" ng-disabled="disabled" ng-click="getPoolInstructions($index,true)" >Every car's itinerary</button>
                                <div ng-show="waiting_for_instructions_text" class="alert alert-info">{{waiting_for_instructions_text}}</div>
                                <div ng-show="waiting_for_instructions_error" class="alert alert-danger">{{waiting_for_instructions_error}}</div>
                                <!--  <li> FOR TESTING: Generate a new solution now!<br>
                                <button type="button" class="btn btn-default btn-xs" ng-click="redoPool($index)" >Re-Generate Solution</button></li> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INSTRUCTION -->
                <!-- ng-if="instruction"  -->
                <modal-dialog show="modalShown" dialog-title="Instructions for '{{instruction_pool.name}}'" dialog-subtitle="{{instruction_pool.address}}" dialog-sub2title="{{instruction_pool.date}} at {{instruction_pool.time}}" dialog-sub3title="{{instruction.numel}} participants - {{(instruction.success == 1) ? 'Everyone has a ride!' : 'Not everyone can make it - invite some more drivers!!'}}" dialog-sub4title="{{numAssignments}} Cars - combined total {{instruction.totalGroupTime}} minutes driving" width='90%' height='85%'>

                <!-- MY ASSIGNMENT -->
                <div ng-if="myAssignment">
                    <h4>
                    My Itinerary:
                    </h4>
                    <ol class='custom'>
                        <li ng-repeat="ind in myAssignment.bestOrder track by $index" seq="{{!$first ? (myAssignment.bestTimes.slice(0,$index).reduce(add,0) | relativeFromMins : myAssignment.departureTime | date : 'hh:mma') : (myAssignment.departureTime | date : 'hh:mma')}}">
                            {{$first ? "- Driver - " : ""}}{{instruction.names[ind]}}
                            <ul>
                                <li ng-show="$first">(thank you for your {{myAssignment.minTime}} minutes of driving)</li>
                                <li >
                                    {{instruction.addresses[ind]}}
                                </li>
                                <li>{{myAssignment.emails[$index]}}</li>
                                <!-- NOTE: CONSIDER SENDING ORDERED EMAIL ADDRESSES IN instruction -->
                            </ul>
                        </li>
                        <li seq="{{myAssignment.arrivalTime | date: 'hh:mma'}}">
                            ({{myAssignment.arrivalMinutesAfterEventStart}} minutes late) Event:
                            <ul>
                                <li>
                                    {{instruction_pool.address}}
                                </li>
                                <li>
                                    For more information, contact {{instruction_pool.email}}
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <ul>
                        <li ng-if="myAssignment.lateOk==true">Everyone sharing this ride can arrive up to {{instruction_pool.latenessWindow}} minutes after the event begins.<span ng-if="myAssignment.notLatePossible==true"> The ride should be able to arrive on time, though.</span><span ng-if="myAssignment.notLatePossible==false"> This ride will arrive a bit late.</span></li>
                        <li ng-if="myAssignment.lateOk==false">At least one person sharing this ride must arrive exactly on time - please be ready to go at the specified times.</li>
                    </ul>
                </div>
                <div ng-if="!myAssignment">
                    <b>You are not currently part of a ride to this event. Feel free to check again with the button above. As folks join the event, you are more likely to find a ride.</b>
                </div>
                <!-- OTHER ASSIGNMENTS -->
                <div ng-show="other_instructions" ng-repeat="ass in instruction.assignments">
                    <br>
                    <br>
                    <hr>
                    <h4>
                    {{instruction.names[ass.driver]}}'s Car <span style="font-size:0.8em"> departs at {{ass.departureTime | date : 'hh:mma'}} ({{ass.leaveTimeMinutesAfterEventStart * -1}} minutes before the event starts) </span>
                    </h4>

                    <ol class="custom">
                        <li ng-repeat="ind in ass.bestOrder"   seq="{{!$first ? (ass.bestTimes.slice(0,$index).reduce(add,0) | relativeFromMins : ass.departureTime | date : 'hh:mma') : (ass.departureTime | date : 'hh:mma')}}">
                            {{$first ? "- Driver - " : ""}}{{instruction.names[ind]}}
                            <ul>
                                <li ng-show="$first">(thank you for your {{myAssignment.minTime}} minutes of driving)</li>
                                <li>
                                    {{instruction.addresses[ind]}}
                                </li>
                                <li>{{ass.emails[$index]}}</li>
                                <!-- NOTE: CONSIDER SENDING ORDERED EMAIL ADDRESSES IN instruction -->
                            </ul>
                        </li>
                        <li seq="{{ass.arrivalTime | date: 'hh:mma'}}">
                            ({{ass.arrivalMinutesAfterEventStart}} minutes late) Event:
                            <ul>
                                <li>
                                    {{instruction_pool.address}}
                                </li>
                                <li>
                                    For more information, contact {{instruction_pool.email}}
                                </li>
                            </ul>
                        </li>
                    </ol>
                    <ul>
                        <li ng-if="ass.lateOk==true">
                            Everyone sharing this ride can arrive up to {{instruction_pool.latenessWindow}} minutes after the event begins.
                            <span ng-if="ass.notLatePossible==true">
                                The ride should be able to arrive on time, though.
                            </span>
                            <span ng-if="ass.notLatePossible==false">
                                This ride will arrive a bit late.
                            </span>
                        </li>
                        <li ng-if="ass.lateOk==false">
                            At least one person sharing this ride must arrive exactly on time - please be ready to go at the specified times.
                        </li>
                    </ul>
                </div>
                </modal-dialog> <!-- INSTRUCTION -->
                </div> <!-- COLUMN -->
            </div>
