    :root{
        --background-color:#bedfd9;
        --GT-color-1:white;
        --GT-color-2:#d9534f;
        /*--background-color:#8ac4d1; blue*/
        /*--background-color:#E288A0;*/ /*pink*/
        --accent-color: #d6abd0;
    }

    /*@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");*/
    .panel-title > a:before {
        float: right !important;
        font-family: FontAwesome;
        content:"\f196";/*"\f055"*/
        padding-right: 5px;
    }

    .panel-title > a:not(.collapsed):before {
       /* float: right !important;
        font-fam*/ily: FontAwesome;
        content:"\f147";/*"\f056"*/
        /*padding-right: 5px;*/
    }



/*MODAL MODAL MODAL*/
/*https://github.com/adamalbrecht/ngModal*/
.ng-modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ng-modal-overlay {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
  -webkit-box-shadow: 4px 4px 80px #000;
  -moz-box-shadow: 4px 4px 80px #000;
  -ms-box-shadow: 4px 4px 80px #000;
  -o-box-shadow: 4px 4px 80px #000;
  padding: 10px;
  overflow-y: scroll;
}
.ng-modal-dialog-content {
  /*overflow: hidden;*/
  height: 100%;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  font-size: 120%;
  padding: 5px;
  display: inline-block;
}
.ng-modal-close-x {
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.ng-modal-title {
  font-weight: bold;
  font-size: 200%;
  display: block;
  margin-bottom: 0px;
  padding-bottom: 0px;
  /*border-bottom: solid 1px #999;*/
}
.ng-modal-subtitle {
  font-weight: bold;
  font-size: 150%;
  display: block;
  margin-top: 4px;
  padding-top: 3px;
  /*border-bottom: solid 1px #999;*/
}
.ng-modal-subsubtitle{
  font-weight: bold;
  font-size: 100%;
  display: block;
  margin-top: 4px;
  padding-top: 3px;
  /*border-bottom: solid 1px #999;*/
}
.ng-modal-underline {
  font-weight: bold;
  font-size: 150%;
  display: block;
  margin-top: 10px;
  padding-top: 7px;
  border-bottom: solid 1px #999;
}

    /*replace the content value with the
    corresponding value from the list below*/
    /*--adjust (below space, before 'color', esp) as necessary--*/
 /*   .element {
        position: relative;
    }



    .element:before {
        content: "\f100";
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;

        color: #000;
        font-size: 18px;
        padding-right: 0.5em;
        position: absolute;
        top: 10px;
        left: 0;
    }*/


/*    .panel-title > a.collapsed:before {
        float: right !important;
        font-family: FontAwesome;
        content:"\f055";
        padding-right: 5px;
    }*/



/*    .panel-title > a:hover,
    .panel-title > a:active,
    .panel-title > a:focus  {
        text-decoration:none;
    }
*/

    nav{
      font-family: 'Ubuntu', sans-serif;
    }
    .navbar-brand{
      color:var(--GT-color-1);
    }
    .navbar-brand span{
      color: var(--GT-color-2);
    }

    /*Example usage:*/
    /*.foo  {
        color : var(--background-color);
    }*/
    .container {
        max-width: 1000px;
    }
    #c1, #c2, #c3{
        display:inline-block;
        width: 25%;
        height:20;
    }
    input.ng-invalid
    {
      border:2px solid #f00;
    }

    .invalid {
      /*border:2px solid #f00;*/
      color: #f00;
    }
    button {
      /*box-shadow:rgb(255, 255, 255) 0px 1px 0px 0px inset;*/
      background: linear-gradient(rgb(249, 249, 249) 5%, rgb(233, 233, 233) 100%) rgb(249, 249, 249);
      /*border-radius: 6px;*/
      /*border: 2px solid var(--accent-color);*/
      /*border:clear;*/
      cursor: pointer;
      color: rgb(102, 102, 102);
      font-family: Arial;
      font-size: 15px;
      font-weight: bold;
      padding: 6px 24px;
      text-decoration: none;
      text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    }
    button:disabled
    .roundBorder {
      border: 2px solid black;
      border-radius: 5px;
    }
    .errorBorder {
      border: 1px solid #f00;
      border-radius: 5px;
    }

    .padded {
      margin: 15px 15px 15px 15px;

    }

    /* style */


    body {
      height:100%;
      min-height:100%;
      width:100%;
      background-color: var(--background-color);
      /*background-color: #E288A0;*/
      font-family: 'Roboto', sans-serif;
    }
    .clear {
      clear:both;
    }
    .floating-box {
        display: inline-block;
        width: 46%;
        margin: 4px;
        /*border: 2px solid var(--accent-color);*/
        vertical-align: top;
    }
    .after-box {
    border: 3px solid red;
    }

    img {
      border: 4px solid var(--accent-color);
      padding: 0px;
      border-radius: 9px;
    }
    .lineContainer {
        overflow: hidden; /* clear the float */
        /*border: 1px solid #000*/
    }
    .lineContainer div {
        height: 45px
    }
    .left {
        /*width: 100px;*/
        float: left;
        vertical-align: middle;
        /*border-right: 1px solid #000*/
    }
    .right {
        overflow: hidden;
        /*background: #ccc*/
        vertical-align: middle;
    }

/* FOOTER STUFF */
/*footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}*/

.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;

  padding: 50px 60px 40px;
  margin-top: 80px;
  overflow: hidden;
  vertical-align: bottom;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

/* The company logo */

.footer-distributed h3{
  color: var(--GT-color-1);
  font: normal 36px 'Ubuntu';
  margin: 0 0 10px;
}

.footer-distributed h3 span{
  color: var(--GT-color-2);
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
  margin-top: 40px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
  float: right;
}

.footer-distributed .footer-right p{
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

/* The contact form */

.footer-distributed form{
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 400px;
  padding: 18px;
}
/*textarea.ng-invalid{
      border:2px solid red;
}*/
.footer-distributed .footForm.ng-dirty.ng-invalid textarea.ng-invalid{
      border:1px solid red;
}
.footer-distributed .footForm.ng-dirty.ng-invalid input.ng-invalid{
      border:1px solid red;
}
.footer-distributed ::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color:  #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
  color:  #5c666b;
}


.footer-distributed form input{
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea{
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button{
  border-radius: 3px;
  background-color:  #33383b;
  color: #ffffff;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea{
    width: 250px;
  }

  .footer-distributed form button{
    padding: 10px 35px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 40px;
  }

  .footer-distributed form{
    margin-top: 30px;
  }

  .footer-distributed form{
    display: block;
  }

  .footer-distributed form button{
    float: none;
  }
}








    /*START EVENT LIST STUFF*/
    /*@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");*/
    /*@import url("//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css");*/
/*    body {
    padding: 60px 0px;
    background-color: rgb(220, 220, 220);
  }*/

 /*   .event-list {
    list-style: none;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
  }
  .event-list > li {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
    padding: 0px;
    margin: 0px 0px 20px;
  }
  .event-list > li > time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(197, 44, 102);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
  }
  .event-list > li:nth-child(even) > time {
    background-color: rgb(165, 82, 167);
  }
  .event-list > li > time > span {
    display: none;
  }
  .event-list > li > time > .day {
    display: block;
    font-size: 35pt;
    font-weight: 100;
    line-height: 1;
  }
  .event-list > li time > .month {
    display: block;
    font-size: 21pt;
    font-weight: 900;
    line-height: 1;
  }
  .event-list > li time > .year {
    display: block;
    font-size: 15pt;
    font-weight: 600;
    line-height: 1;
  }
  .event-list > li time > .time {
    display: block;
    font-size: 15pt;
    font-weight: 600;
    line-height: 1;
  }
  .event-list > li > img {
    width: 100%;
  }
  .event-list > li > .info {
    padding-top: 5px;
    text-align: center;
  }
  .event-list > li > .info > .title {
    font-size: 17pt;
    font-weight: 700;
    margin: 0px;
  }
  .event-list > li > .info > .desc {
    font-size: 13pt;
    font-weight: 300;
    margin: 0px;
  }
  .event-list > li > .info > ul,
  .event-list > li > .social > ul {
    display: table;
    list-style: none;
    margin: 10px 0px 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
  .event-list > li > .social > ul {
    margin: 0px;
  }
  .event-list > li > .info > ul > li,
  .event-list > li > .social > ul > li {
    display: table-cell;
    cursor: pointer;
    color: rgb(30, 30, 30);
    font-size: 11pt;
    font-weight: 300;
        padding: 3px 0px;
  }
    .event-list > li > .info > ul > li > a {
    display: block;
    width: 100%;
    color: rgb(30, 30, 30);
    text-decoration: none;
  }
    .event-list > li > .social > ul > li {
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
  }
  .event-list > li > .info > ul > li:hover,
  .event-list > li > .social > ul > li:hover {
    color: rgb(30, 30, 30);
    background-color: rgb(200, 200, 200);
  }
  .facebook a,
  .twitter a,
  .google-plus a {
    display: block;
    width: 100%;
    color: rgb(75, 110, 168) !important;
  }
  .twitter a {
    color: rgb(79, 213, 248) !important;
  }
  .google-plus a {
    color: rgb(221, 75, 57) !important;
  }
  .facebook:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(75, 110, 168) !important;
  }
  .twitter:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(79, 213, 248) !important;
  }
  .google-plus:hover a {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(221, 75, 57) !important;
  }

  @media (min-width: 768px) {
    .event-list > li {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;
      padding: 0px;
    }
    .event-list > li > time,
    .event-list > li > img  {
      display: inline-block;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 120px;
      float: left;
    }
    .event-list > li > .info {
      background-color: rgb(245, 245, 245);
      overflow: hidden;
    }
    .event-list > li > time,
    .event-list > li > img {
      width: 120px;
      height: 120px;
      padding: 0px;
      margin: 0px;
    }
    .event-list > li > .info {
      position: relative;
      height: 120px;
      text-align: left;
      padding-right: 40px;
    }
    .event-list > li > .info > .title,
    .event-list > li > .info > .desc {
      padding: 0px 10px;
    }
    .event-list > li > .info > ul {
      position: absolute;
      left: 0px;
      bottom: 0px;
    }
    .event-list > li > .social {
      position: absolute;
      top: 0px;
      right: 0px;
      display: block;
      width: 40px;
    }
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
    .event-list > li > .social > ul > li {
      display: block;
            padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
      display: block;
      width: 40px;
      padding: 10px 0px 9px;
    }
  }*/
  /*END EVENT LIST STUFF*/





